<!DOCTYPE>
<html lang="en">

<head>
    <title>BuSe Coin</title>
    <meta charset="utf8">
</head>

<body>
	<p>Test goi mail</p>
    <a href="http://localhost:3000/login/<%= token%>">http://localhost:3000/login/<%= token%></a>
</body>
</html>